<style type="text/css">
body{
  background-color: #e6cdbf;
}

#main{
  position: absolute;
    width: 1004px;
    height: 679px;
    left: 50%;
    top:50%;
    margin-left: -502px;
    margin-top: -340px;
    background-color: #d6c1b2;
}
</style>
<div id="main">
  <%= image_tag('img-home-2.jpg') %>
</div>
</body>
</html>