<div style="background-image: url('<%= image_url('bg_section.jpg')%>'); background-size: cover;">
  <section class="section-box" style="padding: 20px;padding-bottom: 0px;">
    <div class="container">
      <div class="row">
        <div class="col-md-7 how-it-works">
          <h2 class="red pad-t-20">Nosso Embaixador Foo Bazz</h2>
          <div class="row">
            <div class="col-md-12">
              <div class="full-width">
                <div class="default-container no-border-radius-top text-about">
                  <p>Foo Bazz, o Mago das Noivas, é cabeleireiro, empresário e educador, com títulos, prêmios e muito prestígio, com quase duas décadas de uma carreira consagrada. Nome forte no cenário de Salões de Beleza, cursos e eventos, Persil é um empreendedor nato. </p>
                  <p>O expert tem mente criativa e muita paixão pela profissão. Seguido e admirado especialmente pelo mercado de cabeleireiros do país inteiro, tem a educação como base e não para de inovar.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="row">
              <div class="col-md-6 col-xs-6 col-sm-6">
                <p><%= image_tag('img-paulo-persil.png') %></p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>