<div style="background-image: url('<%= image_url('bg_section.jpg')%>'); background-size: cover;">
  <section class="section-box" style="padding: 20px;padding-bottom: 0px;">
    <div class="container">
      <div class="row">
        <div class="col-md-7 how-it-works">
          <h2 class="red pad-t-20">Sobre o Foo Bar</h2>
          <div class="row">
            <div class="col-md-12">
              <div class="full-width">
                <div class="default-container no-border-radius-top" style="text-align: justify;">
                  <p>O Foo Bar foi desenvolvido para ser o maior portal de ensino à distância do país e seu conteúdo exclusivo é totalmente dedicado aos profissionais da área de beleza. Nosso ambiente virtual é composto por aulas online que foram cuidadosamente elaboradas para atender todas as demandas do nosso público, respeitando as necessidades de uma plataforma web. </p>
                  <p>O site abrange as mais diversas áreas do segmento de beleza e conta com aulas de penteado, técnicas de corte, coloração, passo-a-passo de maquiagem, personal nail artist e procedimentos estéticos. Com metodologia inovadora, interface moderna, acessível e dispondo do que há de mais atual em tecnologia, oferecemos ainda os melhores professores do mercado de beleza, reconhecidos em todo o território nacional, e o melhor, qualquer pessoa pode ter acesso ao nosso conteúdo. A grande vantagem do método de ensino a distância é a possibilidade de aprendizado e capacitação com a mesma qualidade, atualidade, didática, agilidade e dinamismo de um curso presencial. Pesquisas apontam que o mercado acadêmico à distancia está em ascensão. De acordo com o CensoEAD.BR, o número de brasileiros que concluíram cursos à distância no ano passado, ultrapassou 4 milhões de alunos. Ainda segundo o Censo, o aumento na procura de cursos à distância está diretamente ligado à credibilidade das instituições de ensino e de seus mestres.</p>
                  <p>Aperfeiçoamento e constante atualização são pontos fundamentais para atingir o sucesso profissional. Nosso compromisso é com a educação e temos como principal objetivo, habilitar profissionais para atuar no mercado de trabalho de forma segura e visando o crescimento profissional de cada um. É a democratização do universo da beleza e conhecimento ao alcance de todos.</p>
                  <p>As aulas separadas por módulos e sub-temas, garantem uma maior compreensão do conteúdo abordado, sempre priorizando o aprendizado. Em nosso site você encontra uma vasta programação de aulas e é possível adquirir cursos que enfatizam a formação inicial e cursos para formação continuada. Outro destaque é que os profissionais que usufruírem dos nossos conteúdos podem contar com comodidade e flexibilidade de horário para assistir às aulas. Aqui você se capacita onde, como e quando quiser. Aproveite a oportunidade de estudar sem sair de casa e não se preocupe com mudanças radicais na sua rotina.</p>
                  <p>No Foo Bar todo o conteúdo foi minuciosamente desenvolvido para potencializar seus estudos. É a revolução na maneira de estudar! Acesse nossas aulas no seu computador, tablet ou até mesmo no seu smartphone. </p>
                  <p>Invista na sua formação profissional e acelere sua carreira com os cursos do Foo Bar. Não abra mão da qualidade e invista em nosso conteúdo online exclusivamente desenvolvido para que você alcance o merecido reconhecimento no mercado de trabalho.</p>
                  <p>Nós temos a melhor educação profissional a distância do país e você poderá efetuar o curso no seu próprio ritmo. O que você está esperando para se inscrever? </p>
                  <p>Conheça já nossas ofertas e pacotes!</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
            <div class="row">
              <div class="col-md-6 col-xs-6 col-sm-6">
                <p><%= image_tag('img-quem-somos.png') %></p>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
</div>