<div style="background-image: url('<%= image_url('bg_section.jpg')%>'); background-size: cover;">
  <section class="section-box" style="padding: 20px;padding-bottom: 0px;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 how-it-works">
          <h2 class="red pad-t-20">Política de Privacidade</h2>
          <div class="row">
            <div class="col-md-10">
              <div class="full-width">
                <div class="default-container no-border-radius-top text-about">
                  <div class="collapse-group">
                    <p>Mediante esta Política de Privacidade, o site Foo Bar informa aos usuários, visitantes dos sites de seus cursos on-line, doravante denominado de “Clientes”, que nunca divulga, fornece ou cede a terceiros dados pessoais fornecidos pelos clientes de seus serviços.</p>
                    <p>Os dados pessoais serão utilizados para marketing direto ou qualquer outra comunicação (incluindo via e-mail) somente com autorização do cliente feita no momento de seu cadastro. Uma vez o cliente ter se cadastrado no site Foo Bar, a empresa usará este cadastro unicamente para:
                      <ul>
                        <li>Enviar seu newsletter para o e-mail do cliente, com notícias ou informações</li>
                        <li>Enviar informações impressas, jornais, folhetos ou outras publicações por correio</li>
                        <li>Comunicar concursos, promoções ou prêmios</li>
                        <li>Realizar pesquisas estatísticas sem que haja a identificação do cliente</li>
                        <li>Ações de e-marketing</li>
                        <li>Manter atualizados os cadastros dos usuários para fins de contato pelos mais variados meios de comunicação</li>
                      </ul>
                    </p>
                    <p>Além do que é comprometido acima, para fins desta Política, devem ser observadas as seguintes considerações:
                      <ul>
                        <li>A privacidade de nossos clientes é fator relevante de nossa preocupação. Temos o compromisso de preservá-la</li>
                        <li>Esta política de privacidade visa assegurar a garantia de que, quaisquer informações relativas aos usuários, não serão fornecidas, publicadas ou comercializadas em quaisquer circunstâncias, exceto naquelas que a Lei exige</li>
                        <li>Os dados pessoais informados ao site Foo Bar são armazenados em banco de dados reservado e com acesso restrito a alguns colaboradores internos habilitados, que são obrigados, por meio do TERMO DE COMPROMISSO, celebrado com a empresa, a manter a confidencialidade das informações e não utilizá-las inadequadamente</li>
                        <li>O site Foo Bar reserva-se o direito de modificar a presente política para adaptá-la a alterações legislativas ou jurisprudenciais, ou aquelas relativas às práticas comerciais, publicando a mesma nos canais de comunicação para cada parte interessada</li>
                        <li>No site Foo Bar pode conter imagens eletrônicas conhecidas como sinalizadores da web e eventualmente chamados de "gifs de um pixel", que permitem que a empresa estime as estatísticas de visitas em suas páginas web. Estes sinalizadores da web poderão estar presentes em newsletter, e-marketing, mensagens promocionais ou outras mensagens eletrônicas para contar quantas mensagens foram abertas e interessaram aos clientes</li>
                        <li>Havendo solicitação formal, por qualquer Autoridade Pública Competente, devidamente fundamentada em Dispositivos e Normas Legais, o cliente autoriza expressamente o site Foo Bar a encaminhar os dados cadastrais solicitados, independente de notificação prévia ao cliente</li>
                      </ul>
                    </p>
                    <br /><br /><br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
