<div style="background-image: url('<%= image_url('bg_section.jpg')%>'); background-size: cover;">
  <section class="section-box" style="padding: 20px;padding-bottom: 0px;">
    <div class="container">
      <div class="row">
        <div class="col-md-10 how-it-works">
          <h2 class="red pad-t-20">Termos e Condições de Uso</h2>
          <div class="row">
            <div class="col-md-10">
              <div class="full-width">
                <div class="default-container no-border-radius-top text-about">
                  <div class="collapse-group">
                    <p><b>1. Aceitação dos Termos e Condições de Uso</b></p>
                    <p>1.1 Ao fazer uso do Site Foo Bar, Você (a partir de agora denominado Usuário) concorda que leu, entendeu e aceitou os termos, regras e condições aqui dispostos.</p>
                    <p>1.2 O Site Foo Bar se reserva o direito de modificar a qualquer momento a apresentação, configuração e disponibilização do Site, sem que cause prejuízo ao Usuário. O mesmo se aplica a estes Termos e Condições de Uso, estabelecidos como condição fundamental para a utilização do Serviço.
                    </p>
                    <p><b>2. Registros e dados pessoais/ Privacidade de Dados</b></p>
                    <p>2.1 O Usuário declara veracidade de todos os dados por ele fornecidos ao Site no momento de seu Cadastro e em qualquer atualização posterior, ficando responsável, portanto, pela sua exatidão e autenticidade. </p>
                    <p>2.2 É dever do Usuário manter atualizados os dados pessoais fornecidos quando da utilização do Site. É baseado nestes dados que será emitido o Diploma/Certificado de Conclusão dos Cursos.
                    </p>
                    <p>2.3 O Site Foo Bar preserva a privacidade dos dados dos Usuários e se compromete a revelar os dados apenas a um dos seguintes motivos:</p>
                      <ul>
                        <li>por lei;</li>
                        <li>por meio de uma ordem ou intimação de um órgão, autoridade ou tribunal com poderes para tanto e de jurisdição competente;/li>
                        <li>para garantir a segurança dos sistemas, resguardar direitos e prevenir responsabilidades do Site Foo Bar.</li>
                      </ul>
                    </p>
                    <p>2.4 O Site Foo Bar pode cancelar qualquer registro de Usuário, a qualquer momento e sem prévio aviso, assim que tiver conhecimento, e a seu exclusivo critério, de o Usuário descumprir, intencionalmente ou não, estes Termos e Condições de Uso, ou violar leis e regulamentos federais, estaduais e/ou municipais, ou violar os princípios legais, a moral e os bons costumes.</p>
                    <p><b>3. Direitos e Deveres do Site Foo Bar</b></p>
                    <p>3.1 O Site Foo Bar permitirá acesso 24 (vinte e quatro) horas por dia, 07 (sete) dias por semana, resguardados os tempos de disponibilidade de cada Treinamento contratado. Ressalvadas as exceções dispostas no item 4.2 deste Termos de Uso.</p>
                    <p>3.2 O Site Foo Bar disponibilizará o serviço de acesso contratado pelo Usuário, nos Termos e Condições Gerais para o Treinamento ou Curso escolhido, podendo eventualmente, o acesso sofrer interrupções devido a problemas fortuitos e diversos, alheios à vontade do Site Foo Bar, tais como falta de energia, indisponibilidade de Provedor, falhas de sistema de transmissão, entre outros. Quaisquer desses acontecimentos não ensejarão prejuízo para o Usuário.</p>
                    <p>3.3 O Site Foo Bar reserva-se o direito de interromper os Serviços Educacionais, com o seu devido Cancelamento, caso haja tentativa, por parte do Usuário, de modificar, adaptar, converter, reverter a engenharia, descompilar ou desmontar qualquer parte do Site. A mesma sanção será aplicada ao Usuário que publicar ou transmitir vírus, arquivo ou programa de computador que seja prejudicial ou invasivo ou cuja intenção seja danificar ou tomar controle da operação, ou monitorar o uso de qualquer hardware, software ou equipamento, e usar o Site para violar os direitos legais de terceiros para obter ou coletar informações de identificação pessoal dos outros Usuários/Alunos.</p>
                    <p>3.4 O Site Foo Bar não se responsabiliza por eventuais danos decorrentes do acesso Ilícito por terceiros ao Site valendo-se do uso do Login e Senha, que seja de uso exclusivo de Usuário.</p>
                    <p><b>4. Direitos e Deveres do Usuário</b></p>
                    <p>4.1 O Usuário será responsável pela correta e idônea utilização do Login e Senha, de seu uso exclusivo durante o(s) Curso(s) contratado(s). A disponibilização de Conteúdo Educacional de propriedade do Site Foo Bar e do Professor responsável, não ensejará possibilidade de distribuir, copiar, transmitir, exibir, reutilizar, reproduzir, publicar, licenciar, vender ou fazer qualquer outro tipo de uso comercial, sem a permissão por escrito, conforme a Lei nº 9.610, de 19 de fevereiro de 1998, e Lei nº 10.695, de 1 de julho de 2003, que regulam os Direitos Autorais no Brasil.</p>
                    <p>4.2 O Usuário deverá providenciar, por conta própria, seu acesso à internet e os requisitos mínimos para o funcionamento do Ambiente Virtual de Aprendizagem, disponível no site Foo Bar.</p>
                    <p>4.3 O Usuário se compromete a comunicar imediatamente ao Site Foo Bar a eventual perda ou roubo de sua senha de acesso, assim como qualquer risco de acesso a ela por terceiros. É recomendável ao Usuário trocar de senha periodicamente, o que pode ser feito acessando-se a página no Site.</p>
                    <p>4.4 Os dados pessoais, entre esses seu próprio CPF, são de sua total responsabilidade, arcando com sanções civis e penais que eventualmente gerarem no uso indevido do documento de outrem. Lembrando que estes dados deverão ser preenchidos com responsabilidade no Cadastro de Usuário.</p>
                    <p>4.5 O Usuário assume todos os ônus e responsabilidades decorrentes de seus atos e desvio de conduta como usuário do Site Foo Bar, respondendo ainda por atos que terceiros praticarem em seu nome, por meio de uso de seu Login e Senha de acesso.</p>
                    <p><b>5. Denúncia de abusos e violação</b></p>
                    <p>5.1 O Usuário se compromete a denunciar quaisquer abusos ou violação destes Termos e Condições de Uso ou de quaisquer direitos de terceiros que observar e/ou for vítima quando da utilização do Site. O Usuário deve utilizar o canal disponibilizado no Site para comunicação com o Site Foo Bar.</p>
                    <p><b>6. Legislação aplicável</b></p>
                    <p>6.1 Estes Termos e Condições de Uso são governados e interpretados segundo as leis da República Federativa do Brasil e todas as disputas, ações e outros assuntos relacionados serão determinados de acordo com essa legislação, e previstas no Contrato de Prestação de Serviços Educacionais.</p>
                    <p>6.2 Considerando o que dispõe o Código de Defesa do Consumidor em seu artigo 54, o Contrato de Prestação de Serviços Educacionais supra citado caracteriza-se como um contrato de adesão. Quando da realização da matrícula, o aluno ou o seu responsável legal adere ao mesmo, sem haver a necessidade de sua assinatura.</p>
                    <br /><br /><br />
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
