<div style="background-image: url('<%= image_url('bg_section.jpg')%>'); background-size: cover;">
  <section class="section-box" style="padding: 20px;">
    <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h2 class="red">Contato</h2>
          <div>
            <% flash.each do |key, value| %>
              <div>
                <a href="#" data-dismiss="alert">×</a>
                  <%= value %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
