<div class="container">
  <div class="box margin top bottom">
    <h2>Você não pode gerar um certificado de um módulo que ainda não adquiriu</h2>
    <%= link_to 'Voltar', course_path(@course), class: 'btn btn-primary' %>
  </div>
</div>