#page-shopping_carts {
  .shopping-cart-container {
    background: #fff;
    padding: 30px;
    h1 {
      color: #cc0c39;
      border-bottom: 2px solid #cc0c39;
      padding-bottom: 3px;
      margin-bottom: 20px;
    }
  }

  .tab-content {
    .tab-pane {
      padding: 15px;
    }
  }
}