// Place all the styles related to the VideoClasses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.video_classes {
  .box-title {
    padding: 15px;
  }
  .videos-list {
    ul {
      margin: 0;
      padding: 0;

      li {
        list-style-type: none;
        padding: 10px 0;
        background: #fff;
        color: #000;
        img {
          height: 100px;
        }
        a {
          height: 100px;
          display: block;
        }
        .description {
          color: #333;
        }
      }
    }
  }
  [data-video-container] {
    /* background: #faf8c3; */
    background: #555;
  }
}

.btn-classes {
  width: 300px;
  height: 40px;
  font-size: 20px;
  background: #cc0c39;
  color: #fff !important;
  border: none;
  border-radius: 5px;
}

.btn-classes a:hover {
  background-color: #6e0921 !important;  
  text-underline: none;
}