<p>Olá <%= @resource.email %>!</p>

<p>Você solicitou a alteração de sua senha. Para continuar, clique no link abaixo.</p>

<p><%= link_to 'Trocar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não solicitou a troca, por favor desconsidere esse e-mail.</p>
<p>Sua senha não será alterada até que você acesse o link acima e crie uma nova.</p>
